body {
  background: #000000;
  font-family: Inconsolata, monospace;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 72;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 40;
}

h3 {
  color: #ffffff;
  font-size: 10;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vol-surface-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-link {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: orange;
}
